<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <img th:src="@{/images/beer.jpg}" class="img-responsive center-block" width="400" height="400"
                     alt="Beer"/>
            </div>
            <p class="admin-message-text text-center" th:utext="${userMessage}"></p>
        </div>
    </div>

</div>

<div class="container">
        <h1>Do Entry</h1>
        <hr>
        
        <form action="#" th:action="@{/saveguestEntry}" th:object="${guestledger}" method="POST",enctype="multipart/form-data">
            <input type="text" th:field="*{text}" placeholder="Text" id="text" class="form-control mb-4 col-4">
            <input type="file" th:field="*{image}" placeholder="Image" id="myFile" name="image",accept="image/png, image/jpeg" class="form-control mb-4 col-4">
            <button type="submit" class="btn btn-info col-2"> Submit Entry</button> 
        </form>

        <hr>
          <img th:src="/@{${guestledger.photosImagePath}}" />
    </div>
    <div class="container my-2">
        <h1>My Entry List</h1>

        <a th:href="@{/showMyEntry?userid=${userid}}" class="btn btn-primary btn-sm mb-3"> Show Entry </a>
        <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Entry Id</th>
                    <th>Approval Status</th>
                    <th>Approver</th>
                    <th> Entered By </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="guestledger : ${guestledger}">
                    <td th:text="${guestledger.entryId}"></td>
                    <td th:text="${guestledger.approvalStatus}"></td>
                    <td th:text="${guestledger.approver}"></td>
                    <td th:text="${guestledger.enteredby}"></td>
                    <img th:src="/@{${guestledger.photosImagePath}}" />
                    <td th:text="${guestledger.text}"></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>