<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <script type="text/javascript">
    function onclickApprove(id){
        $.ajax({
            type: "get",
            url: "http://localhost:8080/approve/"+id,
            success: function (data){
                alert("Approve Successfully");
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError){

            }
        });
        return false;
    }
    
    function onclickDelete(id){
        $.ajax({
            type: "delete",
            url: "http://localhost:8080/remove/"+id,
            success: function (data){
                alert("Removed Sucessfully");
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError){

            }
        });
        return false;
    }
    
    
    
    $( document ).ready(function() {
    	$('form#createevent').on('submit', function() {
    	    
    	    var txt=$("#text").val();
    	    
    	    var isvalid=true;
    	    var file = document.getElementById("image");
    	    
    	    if(file.files.length == 0 ){ 
    	    	
    	    	isvalid=false;
    	    }else{
    	    	isvalid=true;
    	    }
    	    if(!isvalid){
    	    if(txt==null || txt=='' || txt===undefined){ 
    	    	
    	    	isvalid=false;
    	    }else{
    	    	isvalid=true;
    	    }
    	    }
    	    if(!isvalid){ 
    	    	alert("Please select either Image or Text");
    	    	return false;
    	    }
    	    return true;
    	});    	
    });
    
    </script>
    
       </head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger pull-right" name="registration"
                type="Submit">Logout
        </button>
    </form>
    
    <a th:if="${isAdmin == true}" th:href="@{/admin/home}" class="btn btn-md btn-danger pull-right" >AdminHome</a>
    
    <a th:if="${isAdmin == false}" th:href="@{/user/create-invite}" class="btn btn-md btn-danger pull-right">Entry</a>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <img th:src="@{/images/home.jpg}" class="img-responsive center-block" width="400" height="400"
                     alt="Beer"/>
            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
        </div>
    </div>
    
    <div th:if="${isAdmin == false || modifyentry != null}" class="row">
    
        <div class="col-md-6 col-md-offset-3">
        
            <form id="createevent" autocomplete="off" action="#" th:action="@{/welcome}" th:object="${guestledger}"
                   method="post" enctype="multipart/form-data" class="form-horizontal"
                  role="form">
                  <input type="hidden" th:if="${modifyentry != null}" name="entryId" th:value="${modifyentry}"/>
                <h2>Entry</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="file" name="image" accept="image/png, image/jpeg" id="image" placeholder="Image"
                               class="form-control"/>     
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        
                        <input type="text" id="text" name="text"
                               placeholder="Text" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Save</button>
                    </div>
                </div>
                
                <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

            </form>
        </div>
        
        
    </div>
    
     
    
    <table class="table" th:if="${isAdmin == true}">
    
<tr>
<td>User</td>
<td>Text</td>
<td>Image</td>
<td>Status</td>
<td>Action</td>
</tr>

<tr th:each="invite: ${invites}">
    <td th:text="${invite.enteredby.name}" id="txtName"></td>
    <td th:text="${invite.text}" id="txtText"></td>
    <!-- <td th:text="${invite.photosImagePath}" id="txtfilename"></td> -->
    <td><a href=""><img style="width:20px" th:src="@{${invite.photosImagePath}}" /></a></td>
    <td th:text="${invite.approvalStatus}" id="txtApprovalStatus"></td>
    <td>
    <a href="#" th:onclick="'return onclickApprove('+${invite.entryId} + ')'">Approve</a>
    <a href="#" th:onclick="'return onclickDelete('+${invite.entryId} + ')'">Remove</a>
    <a th:href="@{welcome} + '?modifyentry=' + ${invite.entryId}" >Edit</a>
     </td>
</tr>

</table>

</div>
   
</body>
</html>